@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

// Moblie Card
.card {
  padding: $mobile-padding;
  border-top: 1px solid $cloud;
  @include tablet {
    display: none;
    padding: $tablet-padding;
  }
  &__link {
    text-decoration: none;
  }
  &__recipe-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__info-div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  &__title {
    color: $slate;
    padding-bottom: $padding-bottom-label;
  }
  &__icons {
    display: flex;
    justify-content: end;
    padding: $mobile-padding 0;
  }
  &__icon-img{
    padding-right: 2rem;
  }
  &__inner-details {
    font-size: $mobile-p-font-medium;
    line-height: $mobile-p-height-medium;
  }
  &__image-container {
    width: 87vw;
  }
  &__image {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  &__button{
    background-color: $orange;
    color: $white;
    border-style: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    font-weight: bold;
  }
}
