@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.page-header {
  padding: $mobile-padding;
  @include tablet {
    padding: 1.5rem;
    display: flex;
    width: 75%;
    justify-content: end;
  }
  &__search-button {
    align-items: center;
    text-align: center;
    @include tablet {
      display: flex;
      gap: 5rem;
      justify-content: space-between;
      padding-top: 1.5rem;
    }
    @include desktop {
      padding-top: 1.5rem;
    }
  }
  &__link {
    text-decoration: none;
  }
  &__h1 {
    padding: $mobile-padding;
  }
}
